*{box-sizing: border-box;}

body{
    margin: 0;
}
.form{
    border: 0.1rem solid #000;
}

.label-name{
    margin-left: 0;
}

.input-name{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}